<div (click)="collapsed = !collapsed" class="prop">
  <i
    class="bi bi-caret-right-fill me-2"
    *ngIf="item.type === 'object' || item.type === 'array'"
  ></i>
  <i class="bi bi-123 me-1" *ngIf="item.type === 'number'"></i>
  <i class="bi bi-type me-1" *ngIf="item.type === 'string'"></i>
  <i class="bi bi-toggles me-1" *ngIf="item.type === 'boolean'"></i>
  <i class="bi bi-grid-3x2-gap me-1" *ngIf="item.type === 'array'"></i>
  <i class="bi bi-braces me-1" *ngIf="item.type === 'object'"></i>
  <span class="fw-semibold key">{{ item.key + ": " }}</span>
  <span class="value text-primary-emphasis" *ngIf="item.value">
    {{ item.value }}
  </span>
</div>
<div *ngIf="collapsed" class="object-box">
  <li *ngIf="item.type === 'array'">
    <ng-container *ngFor="let innerItem of item.values">
      <ng-container
        *ngTemplateOutlet="
          recursiveListTmpl;
          context: { list: innerItem, formatter: 'json' }
        "
      ></ng-container>
    </ng-container>
  </li>
  <li *ngIf="item.type === 'object'">
    <ng-container
      *ngTemplateOutlet="
        recursiveListTmpl;
        context: { list: item.values, formatter: 'json' }
      "
    ></ng-container>
  </li>
</div>
